<div class="menu-section">
    <div class="menu-section-title">VENDORS</div>
    <RadzenPanelMenu ExpandMode="PanelMenuExpandMode.Single" Style="--rz-panelmenu-item-color: #e5e7eb;">
        <RadzenPanelMenuItem Text="New Vendor Registration" Icon="add_circle" Path="/vendor-master/new" />
        <RadzenPanelMenuItem Text="Modify Vendor Data" Icon="edit_note" Path="/vendor-master/modify" />
        <RadzenPanelMenuItem Text="Check Existing Vendors" Icon="list_alt" Path="/vendor-master" />
    </RadzenPanelMenu>
</div>

<div class="menu-section">
    <div class="menu-section-title">UTILITIES</div>
    <RadzenPanelMenu ExpandMode="PanelMenuExpandMode.Single" Style="--rz-panelmenu-item-color: #e5e7eb;">
        <RadzenPanelMenuItem Text="Help" Icon="help_outline" Path="https://www.radzen.com/documentation/blazor/" Target="_blank" />
    </RadzenPanelMenu>
</div>
